.header__logo {
  background-image: url(../../../images/logo.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 45px;
  margin-bottom: 41px;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin: 27px 0 31px 27px;
  }
}