.edit-form__title {
  color: #000;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  margin-bottom: 14px;
  margin-top: 0;
}

@media screen and (max-width: 425px) {
  .edit-form__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
}