.profile__job {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  grid-area: job;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 520px;
}

@media screen and (max-width: 768px) {
  .profile__job {
    max-width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__job {
    font-size: 14px;
    max-width: 282px;
  }
}