.edit-form__btn-save {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  margin-top: 48px;
  border: 0 none;
  outline: 0 none;
  border-radius: 2px;
  min-height: 50px;
  padding: 0;
  transition: opacity .3s linear;
  cursor: pointer;
}

.edit-form__btn-save:hover {
  opacity: 0.8;
}

.edit-form__btn-save:disabled {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  cursor: not-allowed;
}

@media screen and (max-width: 425px) {
  .edit-form__btn-save {
    font-size: 14px;
    min-height: 46px;
    margin-top: 45px;
  }
}