.popup__close {
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity .3s linear;
  padding: 0;
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .popup__close {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}