.login-form__field {
  padding: 0;
  border: 0 none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  outline: 0 none;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 27px;
  width: 100%;
}

.login-form__field:last-of-type {
  margin-bottom: 0;
}

.login-form__field::placeholder {
  color: #ccc;
}
