.login-form {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  max-width: 358px;
  align-items: center;
  padding: 0;
  border: 0 none;
}

@media screen and (max-width: 425px) {
  .login-form {
    max-width: 81%;
    margin-top: 40px;
  }
}