.element__delete {
  background-image: url(./../../../images/trash-button.svg);
  background-size: contain;
  width: 18px;
  height: 19px;
  transition: opacity .3s linear;
  padding: 0;
  background-color: transparent;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.element__delete:hover {
  opacity: 0.6;
}