.popup__container {
  background: #fff;
  border-radius: 10px;
  min-width: 430px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  cursor: default;
}

@media screen and (max-width: 550px) {
  .popup__container {
    min-width: 282px;
  }
}