.popup__warning {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 32px auto 60px;
  padding: 0;
  max-width: 358px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .popup__warning {
    font-size: 18px;
    margin: 40px auto 50px;
    max-width: 244px;
  }
}
