.login-form__btn {
  background-color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  border: 0 none;
  outline: 0 none;
  border-radius: 2px;
  min-height: 50px;
  padding: 0;
  transition: opacity .3s linear;
  cursor: pointer;
  margin-top: 216px;
}

.login-form__btn:hover {
  opacity: 0.8;
}

.login-form__btn:disabled {
  opacity: 0.4;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  cursor: not-allowed;
}