@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/container/container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_color/header__link_color_gray.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__control/element__control.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-wrapper/element__like-wrapper.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_bg-opacity/popup_bg-opacity_90.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-figure/popup__image-figure.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/__warning/popup__warning.css);
@import url(./blocks/popup/__warning-image/popup__warning-image.css);
@import url(./blocks/edit-form/edit-form.css);
@import url(./blocks/edit-form/__title/edit-form__title.css);
@import url(./blocks/edit-form/__field/edit-form__field.css);
@import url(./blocks/edit-form/__btn-save/edit-form__btn-save.css);
@import url(./blocks/edit-form/__btn-save/_margin/edit-form__btn-save_margin_low.css);
@import url(./blocks/edit-form/__error/edit-form__error.css);
@import url(./blocks/edit-form/__wrapper/edit-form__wrapper.css);
@import url(./blocks/login-form/login-form.css);
@import url(./blocks/link/link.css);
@import url(./blocks/login-form/login-form.css);
@import url(./blocks/login-form/__title/login-form__title.css);
@import url(./blocks/login-form/__field/login-form__field.css);
@import url(./blocks/login-form/__btn/login-form__btn.css);
@import url(./blocks/login-form/__link/login-form__link.css);
