.edit-form__field {
  border: 0 none;
  background-color: transparent;
  outline: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}

.edit-form__field:not(:placeholder-shown):invalid{
  border-color: #f00;
}